@model AccountDetailsViewModel

<section id="account-detail">
    <div class="container">
        <div class="leftside">
            <div class="profile">
                <a href="">
                    
                    <img src=@Model.BasicInfo.ProfileImage alt="">
                    <h4>John Doe</h4>
                    <p>john.doe@domain.com</p>
                </a>

            </div>
            <div class="btn-submit">
                <div class="btn">
                    <a class="btn-theme" href="accountdetail.html"><i class="fa-regular fa-gear"></i>Account Details</a>
                </div>
                <div class="btn">
                    <a class="btn-theme" href="security.html"><i class="fa-regular fa-lock"></i>Security</a>
                </div>
                <div class="btn">
                    <a class="btn-theme" href="saveditems.html"><i class="fa-regular fa-bookmark"></i></i>Saved Courses</a>
                </div>
                <div class="btn">
                    <a class="btn-theme" href="#"><i class="fa-solid fa-right-from-bracket"></i></i>Sign Out</a>
                </div>

            </div>
        </div>
        <div class="right-side">
            <h1>Account Details</h1>

            <form novalidate method="post" asp-controller="Auth" asp-action="SignUp">
                <h1>Create Account</h1>
                <p>Already have an account?<a class="sing-in-here" asp-controller="Auth" asp-action="SignIn"> Sign in here</a></p>


                <div class="content">
                    <div class="first-group">
                        <div id="form-firstname" class="input-group">
                            <div class="input-group-flex">
                                <label asp-for=BasicInfo.FirstName>First name</label>
                                <span asp-validation-for="BasicInfo.FirstName"></span>
                            </div>
                            <input asp-for="BasicInfo.FirstName" />
                        </div>
                        <div id="form-lastname" class="input-group">
                            <div class="input-group-flex">
                                <label asp-for=BasicInfo.LastName>Last name</label>
                                <span asp-validation-for="BasicInfo.LastName"></span>
                            </div>
                            <input asp-for="BasicInfo.LastName" />
                        </div>
                    </div>

                    @* <div id="form-email" class="input-group">
                        <div class="input-group-flex">
                            <label asp-for=Form.EmailAdress>Email</label>
                            <span asp-validation-for="Form.EmailAdress"></span>
                        </div>
                        <input asp-for="Form.EmailAdress" />
                    </div>
                    <div id="form-password" class="input-group">
                        <div class="input-group-flex">
                            <label asp-for=Form.Password>Password</label>
                            <span asp-validation-for="Form.Password"></span>
                        </div>
                        <input asp-for="Form.Password" />

                    </div>
                    <div id="form-confirm" class="input-group">
                        <div class="input-group-flex">
                            <label asp-for=Form.ConfirmPasword>Confirm Password</label>
                            <span asp-validation-for="Form.ConfirmPasword"></span>
                        </div>
                        <input asp-for="Form.ConfirmPasword" />
                    </div>
                    <div id="form-terms" class="input-group">
                        <div class="check-box">
                            <input type="checkbox" asp-for="Form.TermsAndConditions" />
                            <label asp-for="Form.TermsAndConditions">I agree to the <a class="a-tag" asp-controller="About" asp-action="Terms">Terms</a> & <a class="a-tag" asp-controller="About" asp-action="Conditions">Conditions</a></label>
                            <div>
                                <span asp-validation-for="Form.TermsAndConditions"></span>
                            </div>

                        </div>

                    </div> *@
                    <div class="btn-submit">
                        <button class="btn-theme-s" type="submit">@Model.Title</button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</section>

